<div class="flex flex-col gap-4">
  <div class="flex gap-1 justify-center">
    <app-search [placeholder]="'Cocktail name'"
                [tooltipBtn]="'Find a cocktail'"
                [loading]="(loading$ | async)!"
                (searchEvent)="searchCocktail($event)" />

    <p-button icon="pi pi-sparkles" aria-label="Random"
              [pTooltip]="'Find a random cocktail'"
              tooltipPosition="top"
              (click)="openRandomCocktail()"/>
  </div>


  <ng-container *ngIf="cocktailList$ | async as cocktailList else placeholder_temp">
    <div *ngIf="cocktailList.length > 0 else placeholder_temp">
      <app-cocktail-list [cocktailList]="cocktailList"
                         (onCocktailId)="openCocktail($event)"></app-cocktail-list>
    </div>
  </ng-container>

  <ng-template #placeholder_temp>
    <div class="flex gap-1 justify-center">
      <p>{{ !(showEmptyPlaceholder$ | async) ? 'Find your cocktail' : 'Nothing find'}}</p>
    </div>
  </ng-template>

  <app-cocktail-modal *ngIf="randomCocktail$ | async as cocktailInfo"
                      [cocktailInfo]="cocktailInfo"
                      (onNewRandomCocktail)="openRandomCocktail()"
                      (onClose)="closeModalCocktail()"></app-cocktail-modal>

  <router-outlet />
</div>
