<div class="flex flex-wrap gap-8">
  <div class="basis-[50%] shrink-0 xs:grow sm:grow-0">
    <p-image [src]="cocktailInfo.imgUrl" ></p-image>
  </div>

  <div class="flex flex-col basis-[45%] grow gap-4">
    <h2 class="text-4xl">{{ cocktailInfo.name }}</h2>

    <div>
      <h4 class="text-lg font-bold">Glass type: </h4>

      <p>{{ cocktailInfo.glassType }}</p>
    </div>

    <div>
      <h4 class="text-lg font-bold">Ingredients: </h4>

      <ul>
        <li *ngFor="let ingredient of cocktailInfo.ingredients; let index = index">Ingredient №{{ index }}: {{ ingredient }}</li>
      </ul>
    </div>

    <div>
      <h4 class="text-lg font-bold">How to make:</h4>

      <p>{{ cocktailInfo.instructions }}</p>
    </div>
  </div>
</div>
